<div class="columns mt-6 is-centered">
    <div class="column is-one-third">
      <nav class="panel is-link">
        <p class="panel-heading">
      <%= @entry.meal_type %> |
      <%= @entry.category.title %>
    </p>
<div class="panel-block">
    Calories:<%= @entry.calories %>
  </div>


  <div class="panel-block">
    Carbohydrates:<%= @entry.carbohydrates %>
  </div>

  <div class="panel-block">
    Fats:<%= @entry.fats %>
    </div>
  </nav>

 <div class="columns is-mobile">
    <div class="column">
     <%= link_to "Edit this entry", edit_entry_path(@entry), class: "button is-link is-outlined" %> 
     <%= button_to "Destroy this entry", @entry, method: :delete, data: { confirm: "Are you Sure?"}, class: "button is-link is-outlined" %>
</div>
<div class="column">
</div>
</div>
</div>

